  body{
    background-repeat: repeat;
    
    
  }
  
  body.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
  }

  TitreDiv {
    font-family: Georgia, serif;
    font-size: 18px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: rgb(255, 210, 196);
    font-weight: 700;
    text-decoration: underline solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px;  

    /* Shadow du Titre*/
    text-shadow: 0 0 5px rgb(145, 91, 75), 0 0 10px rgb(192, 60, 43), 0 0 15px #FFF, 0 0 20px, 0 0 40px #305eb4;
  }

  img {
    -webkit-box-shadow:  0px -1px 11px 11px rgba(0,0,0,0.73); 
    box-shadow:  0px -1px 11px 11px rgba(0,0,0,0.73);
    width:800px;
    height: auto;
    margin: 32px;
    /* Refonte de la taille des images et ajout de la Shadow-Box*/
  }

  img.little {
    width:400px;
    height: auto;

    margin-right: 16px;
    margin-left: 16px;
    margin-top: 32px;
    margin-bottom: 32px;  
    /* Image plus petite (Pour double images)*/
  }

  img.littleCenter {
    width:400px;
    height: auto;
 

    margin-right: 230px;
    margin-left: 230px;
    margin-top: 32px;
    margin-bottom: 32px;  
      
    /* Même que pour img.little mais pour une seule image*/
  }

  div.zone{
    -webkit-box-shadow: inset 0px 0px 26px 5px rgba(0,0,0,0.91); 
    box-shadow: inset 0px 0px 26px 5px rgba(0, 0, 0, 0.952);

    background-color: rgba(68, 68, 68, 0.63);
    
  }
  div.zone.zonebrief{
    -webkit-box-shadow: inset 0px 0px 26px 5px rgba(0, 0, 0, 0.966); 
    box-shadow: inset 0px 0px 26px 5px rgba(0, 0, 0, 0.952);
    border: ridge 5px rgba(117, 114, 114, 0.945);
    background-color: rgba(117, 114, 114, 0.712);
  }

  div.zone.zonebrief p{
    color: rgb(255, 210, 196);
    text-shadow: 0 0 5px rgb(113, 142, 145), 0 0 10px rgb(43, 90, 192), 0 0 15px #FFF, 0 0 20px, 0 0 40px #305eb4;
  }

  div.zone.zonebrief TitreDiv{
    color: rgb(255, 210, 196);
    text-shadow: 0 0 5px rgb(113, 142, 145), 0 0 10px rgb(43, 90, 192), 0 0 15px #FFF, 0 0 20px, 0 0 40px #305eb4;
  }

  div.image.brief img {

    border: solid 4px rgba(0, 0, 0, 0.534);
  }

  p {
       /* Shadow du texte*/
    color: rgb(255, 210, 196);
    text-shadow: 0 0 5px rgb(145, 91, 75), 0 0 10px rgb(192, 60, 43), 0 0 15px #FFF, 0 0 20px, 0 0 40px #305eb4;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-justify: inter-word;
  }

  p.ita {
    font-style: italic;
    font-size: 14px ;
  }




  div.zone.zonevideo{
    -webkit-box-shadow: inset 0px 0px 26px 5px rgba(0, 0, 0, 0.966); 
    box-shadow: inset 0px 0px 26px 5px rgba(0, 0, 0, 0.952);
    border: ridge 5px rgba(82, 98, 116, 0.945);
    background-color: rgba(82, 98, 116, 0.945);
  }

  div.zone.zonevideo p{
    color: rgb(255, 210, 196);
    text-shadow: 0 0 5px rgb(113, 116, 145), 0 0 10px rgb(43, 90, 192), 0 0 15px #FFF, 0 0 20px, 0 0 40px #305eb4;
  }

  div.zone.zonevideo TitreDiv{
    color: rgb(255, 210, 196);
    text-shadow: 0 0 5px rgb(113, 116, 145), 0 0 10px rgb(43, 90, 192), 0 0 15px #FFF, 0 0 20px, 0 0 40px #305eb4;
  }

  iframe {
    -webkit-box-shadow:  0px -1px 11px 11px rgba(0,0,0,0.73); 
    box-shadow:  0px -1px 11px 11px rgba(0,0,0,0.73);
    width:800px;
    height: 450;
    margin: 32px;
    border: solid 4px rgba(0, 0, 0, 0.534);
  }