body, body * {
  margin: 3;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  min-height: 100vh;
  background-color: #785d9283;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 32px;
}

body.work {
  background-color: #ba90ce79;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 32px;
}

body.work div.image p {
  background-color: rgb(88, 64, 119);
  color: rgb(54, 66, 77);
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 100px;
}