body.work {
    background-color:rgb(225, 236, 185);
  }
  
  body.work div.image p {
    background-color : rgb(228, 207, 88);
  }
  body.work div.image.brief img {
    border-color: rgb(216, 181, 85);
  }

  body.work div.image.brief p {
    background-color: rgb(216, 181, 85);
  }